<div class="flex">
  <app-product-list
    class="list-component"
    [productList]="productService.getProductList()"
    [displayedColumns]="displayedColumns"
    (addProduct)="productService.addProduct()"
    (editProduct)="productService.updateProduct($event)"
    (deleteProduct)="productService.deleteProduct($event)"
  ></app-product-list>
  <app-product-detail *ngIf="productService.getCurrentProduct() !== undefined"
    class="detail-component"
    [product]="productService.getCurrentProduct()"
    [productCategories]="productService.getProductCategories()"
    (productUpdated)="productService.updateProductDetails($event)"
  ></app-product-detail>
</div>
